<?xml version="1.0"  encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gongyu.service.distribute.game.mapper.WorkOrderMapper">

    <select id="queryWorkOrder" resultType="com.gongyu.service.distribute.game.model.dto.WorkOrderSaveDto">
        SELECT
        a.id,
        a.user_id as userId,
        a.title,
        a.image,
        a.status,
        a.content,
        a.content_detail,
        a.contact_information as contactInformation,
        a.createDate as createDate,
        a.createBy as createBy,
        a.updateDate as updateDate,
        a.updateBy as updateBy,
        a.deleted,
        b.mobile as mobile
        FROM
        zp_work_order a left join zp_users b on a.user_id = b.id
        WHERE 1=1 and a.deleted = 0
        <if test="dto.userId != null">
            AND a.user_id = #{dto.userId}
        </if>
        <if test="dto.status != null">
            AND a.status = #{dto.status}
        </if>
        <if test="dto.startDate != null">
            AND a.createDate  <![CDATA[ >= ]]>#{dto.startDate}
        </if>
        <if test="dto.endDate != null">
            AND a.createDate  <![CDATA[ <= ]]>#{dto.endDate}
        </if>
        order by a.id desc
    </select>
</mapper>