<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gongyu.service.distribute.game.mapper.AccountLogMapper">
	<!--查询字段-->
	<sql id="columns">
	    a.log_id,
	    a.user_id,
	    a.user_money,
	    a.frozen_money,
	    a.pay_points,
	    a.doge_money,
	    a.pig_currency,
	    a.contract_revenue,
	    a.change_time,
	    a.descs,
	    a.order_sn,
	    a.order_id,
	    a.type,
	    a.pig_id,
	    a.laststatus,
	    a.giver_user_id
	</sql>
	
	<!--查询结果集-->
	<resultMap id="beanMap" type="com.gongyu.service.distribute.game.model.entity.AccountLog">
	    <result property="logId" column="log_id"/>
	    <result property="userId" column="user_id"/>
	    <result property="userMoney" column="user_money"/>
	    <result property="frozenMoney" column="frozen_money"/>
	    <result property="payPoints" column="pay_points"/>
	    <result property="dogeMoney" column="doge_money"/>
	    <result property="pigCurrency" column="pig_currency"/>
	    <result property="contractRevenue" column="contract_revenue"/>
	    <result property="changeTime" column="change_time"/>
	    <result property="descs" column="descs"/>
	    <result property="orderSn" column="order_sn"/>
	    <result property="orderId" column="order_id"/>
	    <result property="type" column="type"/>
	    <result property="pigId" column="pig_id"/>
	    <result property="laststatus" column="laststatus"/>
	    <result property="giverUserId" column="giver_user_id"/>
	</resultMap>

    <select id="findPage" resultMap="beanMap">
        select
          <include refid="columns"></include>
        from zp_account_log a
        <where>
            a.user_id = #{userId}
            <if test="type != null and type != ''">
                <if test="type == 2">
                    and find_in_set(a.type,'12,13,9,17')
                </if>
				<if test="type == 1">
					and find_in_set(a.type,'8')
				</if>
            </if>
        </where>
		order by a.log_id desc
    </select>


</mapper>