<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gongyu.service.distribute.game.mapper.PigOrderMapper">
	<!--查询字段-->
	<sql id="columns">
	    a.order_id,
	    a.establish_time,
	    a.pig_order_sn,
	    a.pay_status,
	    a.sell_user_id,
	    a.purchase_user_id,
	    a.pig_level,
	    a.pig_price,
	    a.pig_id,
	    a.user_id,
	    a.appeal_time,
	    a.img_url,
	    a.end_time,
	    a.type,
	    a.paynum,
	    a.sell_confirm_status,
	    a.buy_confirm_status
	</sql>
	
	<!--查询结果集-->
	<resultMap id="beanMap" type="com.gongyu.service.distribute.game.model.entity.PigOrder">
	    <result property="orderId" column="order_id"/>
	    <result property="establishTime" column="establish_time"/>
	    <result property="pigOrderSn" column="pig_order_sn"/>
	    <result property="payStatus" column="pay_status"/>
	    <result property="sellUserId" column="sell_user_id"/>
	    <result property="purchaseUserId" column="purchase_user_id"/>
	    <result property="pigLevel" column="pig_level"/>
	    <result property="pigPrice" column="pig_price"/>
	    <result property="pigId" column="pig_id"/>
	    <result property="userId" column="user_id"/>
	    <result property="appealTime" column="appeal_time"/>
	    <result property="imgUrl" column="img_url"/>
	    <result property="endTime" column="end_time"/>
	    <result property="type" column="type"/>
	    <result property="paynum" column="paynum"/>
	    <result property="sellConfirmStatus" column="sell_confirm_status"/>
	    <result property="buyConfirmStatus" column="buy_confirm_status"/>
	</resultMap>

    <select id="findPage" resultType="com.gongyu.service.distribute.game.model.dto.PigOrderModifyDto">
        SELECT
            <include refid="columns"></include>
            ,sell_u.mobile AS sellPhone
            ,purchase_u.mobile AS purchasePhone
            ,g.goods_name AS goodsName
        FROM zp_pig_order a
        LEFT JOIN zp_users AS sell_u ON sell_u.id = a.sell_user_id
        LEFT JOIN zp_users AS purchase_u ON purchase_u.id = a.purchase_user_id
        LEFT JOIN zp_pig_goods g ON a.pig_level = g.id
        where 1=1
        <if test="param.pigOrderSn != null and param.pigOrderSn != ''">
            AND a.pig_order_sn = #{param.pigOrderSn}
        </if>
        <if test="param.sellPhone != null and param.sellPhone != ''">
            AND sell_u.mobile = #{param.sellPhone}
        </if>
        <if test="param.purchasePhone != null and param.purchasePhone != ''">
            AND purchase_u.mobile = #{param.purchasePhone}
        </if>
        <if test="param.pigId != null and param.pigId != ''">
            AND a.pig_level = #{param.pigId}
        </if>
        <if test="param.payStatus != null and param.payStatus != ''">
            AND a.pay_status = #{param.payStatus}
        </if>
        <if test="param.type != null and param.type != ''">
            AND a.type = #{param.type}
        </if>
    </select>


	<insert id="insertForeach" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
		insert into zp_pig_order
		(
			establish_time,
			pig_order_sn,
			pay_status,
			sell_user_id,
			purchase_user_id,
			pig_level,
			pig_price,
			pig_id,
			user_id,
			appeal_time,
			img_url,
			end_time,
			type,
			paynum
		)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(
			#{item.establishTime},
			#{item.pigOrderSn},
			#{item.payStatus},
			#{item.sellUserId},
			#{item.purchaseUserId},
			#{item.pigLevel},
			#{item.pigPrice},
			#{item.pigId},
			#{item.userId},
			#{item.appealTime},
			#{item.imgUrl},
			#{item.endTime},
			#{item.type},
			#{item.paynum}
			)
		</foreach>
	</insert>

	<select id="findPageByUser" resultMap="beanMap">
		select
		<include refid="columns"></include>
		from zp_pig_order a
		<where>
			and purchase_user_id = #{userId}
			<if test="param != null">
				<if test="param.queryType == 1">
					and (a.pay_status = 2 or a.pay_status = 1)
					and a.sell_confirm_status = 0
				</if>
				<if test="param.queryType == 2">
					and a.pay_status = 2
					<!-- and a.buy_confirm_status = 1-->
					and a.sell_confirm_status = 1
				</if>
			</if>
		</where>

	</select>

	<select id="findPageBySell" resultMap="beanMap">
		select
		<include refid="columns"></include>
		from zp_pig_order a
		<where>
			and sell_user_id = #{userId}
			<if test="param != null">
				<if test="param.queryType == 2">
					and (a.pay_status = 1 or a.pay_status = 2)
					and a.sell_confirm_status = 0
				</if>
				<if test="param.queryType == 3">
					and a.pay_status = 2
					and a.sell_confirm_status = 1
					<!-- and a.buy_confirm_status = 1 -->
				</if>
			</if>
		</where>

	</select>
</mapper>