<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.gongyu.service.distribute.game.mapper.PigReservationMapper">
	<!--查询字段 -->
	<sql id="columns">
		a.id,
		a.pig_id,
		a.reservation_time,
		a.reservation_status,
		a.user_id,
		a.pay_points,
		a.reservation_scene,
		a.is_click_buy
	</sql>

	<!--查询结果集 -->
	<resultMap id="beanMap"
		type="com.gongyu.service.distribute.game.model.entity.PigReservation">
		<result property="id" column="id" />
		<result property="pigId" column="pig_id" />
		<result property="reservationTime" column="reservation_time" />
		<result property="reservationStatus"
			column="reservation_status" />
		<result property="userId" column="user_id" />
		<result property="payPoints" column="pay_points" />
		<result property="reservationScene" column="reservation_scene" />
		<result property="isClickBuy" column="is_click_buy" />
	</resultMap>


	<select id="findPage"
		resultType="com.gongyu.service.distribute.game.model.dto.PigReservationModifyDto">
		select
		a.id,
		a.pig_id,
		a.reservation_time,
		a.reservation_status,
		a.user_id,
		a.pay_points,
		a.reservation_scene,
		a.is_click_buy,
		g.goods_name AS goodsName,
		u.mobile AS userPhone
		from zp_pig_reservation a
		left join zp_users u on a.user_id = u.id
		left join zp_pig_goods g on a.pig_id = g.id
		where 1=1
		<if test="param.userPhone != null and param.userPhone != ''">
			AND u.mobile = #{param.userPhone}
		</if>
		<if test="param.pigId != null and param.pigId != ''">
			AND a.pig_id = #{param.pigId}
		</if>
		<if
			test="param.reservationStatus != null and param.reservationStatus != ''">
			AND a.reservation_status = #{param.reservationStatus}
		</if>
		<if test="param.reservationTime != null">
			AND FROM_UNIXTIME(a.reservation_time,'%Y-%m-%d') =
			FROM_UNIXTIME(#{param.reservationTime},'%Y-%m-%d')
		</if>
	</select>

	<select id="findAll"
		resultType="com.gongyu.service.distribute.game.model.dto.PigReservationModifyDto">
		select
		a.id,
		a.pig_id,
		a.reservation_time,
		a.reservation_status,
		a.user_id,
		a.pay_points,
		a.reservation_scene,
		a.is_click_buy,
		g.goods_name AS goodsName,
		u.mobile AS userPhone
		from zp_pig_reservation a
		left join zp_users u on a.user_id = u.id
		left join zp_pig_goods g on a.pig_id = g.id
		where 1=1
		<if test="param.userPhone != null and param.userPhone != ''">
			AND u.mobile = #{param.userPhone}
		</if>
		<if test="param.pigId != null and param.pigId != ''">
			AND a.pig_id = #{param.pigId}
		</if>
		<if
			test="param.reservationStatus != null and param.reservationStatus != ''">
			AND a.reservation_status = #{param.reservationStatus}
		</if>
		<if test="param.reservationTime != null">
			AND FROM_UNIXTIME(a.reservation_time,'%Y-%m-%d') =
			FROM_UNIXTIME(#{param.reservationTime},'%Y-%m-%d')
		</if>
	</select>
</mapper>